
{% extends 'layout_admin.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-size: cover;">
    <div class="card" style="width: 100%; max-width: 400px; padding: 20px;">
        <div class="card-body">
            <h1 class="card-title text-center">Authentification</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <form method="post">
                <div class="form-group">
                    <label for="cleMaster"></label>
                    <input type="password" id="cleMaster" name="cleMaster" class="form-control" required>
                </div>
                <div class="form-group text-center mt-3">
                    <button type="submit" class="btn btn-primary">S'authentifier</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
