{% extends 'layout_admin.html' %}

{% block title %}Accueil - Bibliothèque Admin{% endblock %}

{% block content %}
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-danger sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Tableau de bord Admin <span class="sr-only">({{ current_user.nom_utilisateur }})</span>
                    </a>
                </li>
               
                
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('gerer_livres')}}">
                        Livres
                    </a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Emprunts
                    </a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('gererUtilisateurs') }}">
                        Utilisateurs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ajout_livre') }}">
                        Ajouter un Livre
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <h1 class="mt-4">Tableau de bord Admin</h1>
        <p>Bienvenue sur votre tableau de bord, "{{ current_user.nom_utilisateur }}".</p>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Livres</h5>
                        <p class="card-text">Gérez les livres de votre bibliothèque.</p>
                        <a href="#" class="btn btn-primary">Voir les livres</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Emprunts</h5>
                        <p class="card-text">Gérez les emprunts de livres.</p>
                        <a href="" class="btn btn-primary">Voir les emprunts</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Utilisateurs</h5>
                        <p class="card-text">Voir et gérer les utilisateurs de l'application.</p>
                        <a href="#" class="btn btn-primary">Voir les utilisateurs</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
