{% extends 'layout.html' %}

{% block title %}Livres - Bibliothèque{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <a href="{{ url_for('accueil') }}" class="btn btn-secondary mb-4">Retour à l'accueil</a>
        </div>
    </div>
    <h1 class="text-center mb-4">Livres Disponibles</h1>
    <form method="get" action="{{ url_for('bibliotheque') }}" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Rechercher par auteur, titre et genre" value="{{ request.args.get('search', '') }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Rechercher</button>
            </div>
        </div>
    </form>
    <div class="row">
        {% for livre in livres if livre.quantite > 0 %}
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card mb-4 h-100 book-card shadow-sm" style="animation: fadeIn 0.5s;">
                <img src="{{ livre.image_url }}" class="card-img-top book-image" alt="Image de {{ livre.titre }}" data-toggle="modal" data-target="#imageModal{{ livre.id }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ livre.titre }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Auteur : {{ livre.auteur }}</h6>
                    <h6 class="card-subtitle mb-2 ">Genre : {{ livre.genre }}</h6>
                    <div class="btn-group mt-auto">
                        <a href="{{ url_for('details_livre', id=livre.id) }}" class="btn btn-info">Détails</a>
                        <a href="{{ url_for('emprunter', id=livre.id) }}" class="btn btn-primary">EMPRUNTER</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
