{% extends 'layout_admin.html' %} {% block title %}Gérer les Livres{% endblock
%} {% block content %}
<div class="container">
  <h1 class="mt-4">Gérer les Livres</h1>
  <form method="get" action="{{ url_for('gerer_livres') }}">
    <div class="input-group mb-4">
      <input
        type="text"
        name="search"
        class="form-control"
        placeholder="Rechercher par auteur, titre et genre"
        value="{{ request.args.get('search', '') }}"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Rechercher</button>
      </div>
    </div>
  </form>
  <div class="row">
    {% for livre in livres %}
    <div class="col-md-3">
      <div class="card mb-4 h-100 book-card">
        <img
          src="{{ livre.image_url }}"
          class="card-img-top book-image"
          alt="Image de {{ livre.titre }}"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ livre.titre }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Auteur: {{ livre.auteur }}
          </h6>
          <p class="card-text flex-grow-1">
            <strong>Genre:</strong> {{ livre.genre }}<br />
            <strong>Année de publication:</strong> {{ livre.annee_publication
            }}<br />
            <strong>Quantité:</strong> {{ livre.quantite }}
          </p>
          <div class="mt-auto">
            <a
              href="{{ url_for('modifier_livre', id=livre.id) }}"
              class="btn btn-warning"
              >Modifier</a
            >
            <form
              method="post"
              action="{{ url_for('supprimer_livre', id=livre.id) }}"
              class="d-inline"
            >
              <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
