<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/CSS/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/CSS/style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Bibliothèque</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('accueil_admin') }}"
                >Accueil</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('connexion') }}"
                >Connexion</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('inscription') }}"
                >Inscription</a
              >
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('deconnexion') }}"
                >Déconnexion</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">{% block content %}{% endblock %}</div>

    <script src="{{ url_for('static', filename='../static/JS/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../static/JS/script.js') }}"></script>
  </body>
</html>
