{% extends 'layout.html' %} 
{% block title %}Mes Emprunts - Bibliothèque{% endblock %} 
{% block content %}
<div class="container mt-4">
  <h1 class="text-center mb-4">Mes Emprunts</h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover custom-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Livre</th>
          <th scope="col">Date d'emprunt</th>
          <th scope="col">Date de retour</th>
          <th scope="col">Statut</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for emprunt in emprunts %}
        <tr>
          <td>{{ emprunt.livre.titre }}</td>
          <td>{{ emprunt.date_emprunt.strftime('%d-%m-%Y') }}</td>
          <td>
            {% if emprunt.date_retour %}
              {{ emprunt.date_retour.strftime('%d-%m-%Y') }}
            {% else %}
              En cours
            {% endif %}
          </td>
          <td>
            {% if emprunt.status == "en retard" %}
              <span class="badge badge-danger">En retard</span>
            {% elif emprunt.status == "en cours" %}
              <span class="badge badge-warning">En cours</span>
            {% elif emprunt.status == "en retard_rendu" %}
              <span class="badge badge-danger-R">Rendu en retard</span>
            {% else %}
              <span class="badge badge-success">Rendu</span>
            {% endif %}
          </td>
          <td>
            {% if not emprunt.date_retour %}
              <a
                href="{{ url_for('retour_emprunt', id=emprunt.id) }}"
                class="badge badge-primary action-link"
                >Retourner le livre</a
              >
            {% else %}
              <span class="badge badge-success">pas d'action</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-center">
      <a href="{{ url_for('accueil') }}" class="btn btn-primary btn-lg mt-2"
        >Retour à l'accueil</a
      >
    </div>
  </div>
</div>
{% endblock %}
