{% extends 'layout_admin.html' %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Utilisateurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
            <tr>
                <th scope="row">{{ utilisateur.id }}</th>
                <td>{{ utilisateur.nom_utilisateur }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>
                    <form method="post" action="{{ url_for('supprimerUtilisateur', id=utilisateur.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
